/*Navigation bar
@media (max-width: 767px) { 
  .navbar{
      display:none;
  }

  .navbar-toggler{
    display: block;
  }
}*/

.nav-index{
  position: fixed;
  top: -50px;
  width: 100%;
  transition: top 1s;
}

/*Starting Section*/
.logo img{
    height:40px;
    width:auto;
    margin:5px 0 5px 5px;
}
@media screen and (max-width:768px){
    .logo{
        display:none;
    }
    .logo img{
        margin:5px 0 5px 5px;
    }
}
.start h2{
    text-align:center;
}
.start{
    height:100vh;
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    border:50px solid #94E6FF;
}
.start .cont{
    top:40vh;
    left:50%;
    position:absolute;
}
.start .logo,.start h2{
    left:-50%;
    position:relative;
}
.start .logo{
    width:30%;
    margin:auto;
    display:block;
}
.start h2{
    margin-top:20px;
    color:#fff;
    font-size:20px;
}
@media screen and (max-width:768px){
    .start{
        border:10px solid #94E6FF;
    }
    .start .cont{
        top:30vh;
    }
    .start .logo{
        width:40%;
    }
    .start h2{
        font-size:16px;
    }
}

/*Service section*/
.service{
  height: 100px;
  width: 100px;
  align-items: center;
  margin: 0 auto;
}

@media (max-width:768px){
  .service{
    height: 80px;
    width: 80px;
  }
  .service-p{
    font-size: 12px;
  }
}

/*About section*/
.about-img{
  border-radius: 10px;
}

/*projects*/
.project{
  height: 200px;
  width: 260px;
  border-radius: 15px;
}

.imageContainer{
  display: inline-block;
  position: relative;
}

.imagetext {
  color: aliceblue;
  position: absolute;
  bottom: 50px;
}

@media screen and (max-width:768px){
  .col-disaperar{
    display: none;
  }
}

/*vdirect and chat-analysis*/
.vd-image{
  height: 500px;
}

@media screen and (max-width:768px){
  .vd-image{
    height: 300px;
  }
}

/*Social Icons*/
.card-icon{
  font-size: 28px;
  background: #BDE9FF;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px !important;
  border-radius: 50%;
  transition: 0.3s linear;
}
.card-body:hover .card-icon{
  background: none;
  color: #BDE9FF;
  transform: scale(1.6);
}

/*Survey Monkey*/
.survey-img{
  height: 300px;
}

@media screen and (max-width:768px){
  .survey-img{
    width: 300px;
    height: 200px;
  }
}